@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    padding: 15% 20%;
    margin: 0 auto;
    background-color: #333539;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: all 1s;
}
#Content{
    background-color: #414141;
    border-radius: 20px;
}
#Chat{
    height: 400px;
    padding: 3% 7%;
    display: flex;
    flex-direction: column;
}
#Messege-Bar input{
    width: 100%;
    background-color: #515151;
    outline: none;
    border: none;
    color: #e6e6e6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 40px;
    font-size: 18px;
}
.User-turn{
    display: flex;
    justify-content: flex-start;
}
.Auto-turn{
    display: flex;
    justify-content: flex-end;
}
.turn span{
    color: #e6e6e6;
    padding: 5px 15px;
    border-radius: 50px;
    margin: 10px;
}
.User-turn span{
    background-color: #6A6A6A;
}
.Auto-turn span{
    background-color:#43827C;
}
